@use 'colors' as *;

.navbar{
    padding: 30px 100px;
    background-color: $oxford-blue;

    .navbar-brand{
        font-size: 33px;
    }

    .collapse{

        padding-top: 12px;
    }

    form{

        button{
            border-color: $white !important;
            color: $white;
        }

        .btn-Li{
            margin-right: 10px;
        }

        .btn:hover{
            background-color: $gainsboro;
        }
    }

}

main{
    

    .services{

        text-align: center;
        position: relative;
        padding-top: 170px;


        .services-video{
            width: 100%;
            
          
        }
        video{
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            
        }

        .figure-container{
            margin-top: 7%;
        }
    }

    .information{
        background-color: black;
    }
    
 }


