@import url(https://fonts.googleapis.com/css?family=Exo:100);
/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
.navbar {
  padding: 30px 100px;
}
.navbar .navbar-brand {
  font-size: 33px;
}
.navbar .collapse {
  padding-top: 12px;
}
.navbar form button {
  border-color: #ffff !important;
}
.navbar form .btn-Li {
  margin-right: 10px;
}
.navbar form .btn:hover {
  background-color: #E0E0E0;
}

main .services {
  color: #999;
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  text-align: center;
  /* img size is 50x50 */
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 0.92s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 0.92s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 0.92s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 0.92s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  text-align: center;
}
main .services::before {
  margin-top: 5%;
  font-size: 8rem;
  font-weight: 100;
  font-style: normal;
}
main .services .figure-container {
  margin-top: 5%;
}
main .information {
  text-align: center;
}
main .information h1 {
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  color: #999;
  font-size: 3rem;
}

@media (max-width: 992px) {
  .navbar .navbar-brand {
    font-size: 27px;
  }

  .services {
    width: 375px;
  }
  .services .services-container {
    max-width: 375px;
    margin: 10px auto;
  }
  .services .figure-container figure {
    width: 200px;
    height: 250px;
  }
  .services .h1, .services h1 {
    font-size: 1.8rem;
  }
  .services .services-container figure .trasera {
    backface-visibility: visible;
    transform: perspective(600px) rotateY(0deg);
  }
  .services .figure-container:hover figure {
    transform: perspective(600px) rotateY(0deg);
  }
}

/*# sourceMappingURL=landing.css.map */
